@model ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container mt-4">
    <form asp-action="Details" method="post">
        <div class="card mb-3 border-0" style="max-width: 540px; border-radius: 20px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Url.Content($"~/{FileSettings.ImagePath}/{Model.Product.ImageName}")" class="card-img-top" alt="..." style="height: 100%; object-fit: cover;" alt="@Model.Product.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Product.Name</h5>
                        <p class="card-text">@Model.Product.Description</p>
                        <p class="card-text">
                            <span style="text-decoration: line-through; opacity: 0.6;">Old Price: @Model.Product.OldPrice.ToString("c")</span><br>
                            Current Price: @Model.Product.NewPrice.ToString("c")
                        </p>
                        <p class="card-text">By : @Model.Product.Author</p>
                    </div>
                    <div>
                        <label asp-for="Count">Quantity</label>
                        <input asp-for="Count" class="form-control" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add To Cart</button>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="ProductId" />
    </form>
    <a asp-action="Index" asp-controller="Home" asp-area="Customer">Back To List</a>
</div>
