@model Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container mt-4">
    <div class="card mb-3 border-0" style="max-width: 540px; border-radius: 20px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Url.Content($"~/{FileSettings.ImagePath}/{Model.ImageName}")" class="card-img-top" alt="..." style="height: 100%; object-fit: cover;" alt="@Model.Name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <h5 class="card-title">@Model.Category.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">
                        <span style="text-decoration: line-through; opacity: 0.6;">Old Price: @Model.OldPrice.ToString("c")</span><br>
                        Current Price: @Model.NewPrice.ToString("c")
                    </p>
                    <p class="card-text">By : @Model.Author</p>
                </div>
            </div>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Home" asp-area="Customer">Back To List</a>
</div>
